<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>Add Event</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
      Invalid user name and/or password.
    </div>
    <form th:action="@{/sign-in}" method="post">
      <div class="form-row">
        <div class="form-group col-md-6" th:classappend="${param.error}? has-error">
          <label for="name">Event:</label>
          <input class="form-control" type="text" name="name" id="name" autofocus="autofocus" />
        </div>
        <div class="form-group col-md-6" th:classappend="${param.error}? has-error">
          <label for="date">Date:</label>
          <input class="form-control" type="date" name="date" id="date" autofocus="autofocus" />
        </div>
        <div class="form-group col-md-6" th:classappend="${param.error}? has-error">
          <label for="time">Time:</label>
          <input class="form-control" type="time" name="time" id="time" autofocus="autofocus" />
        </div>
        <div class="form-group col-md-6" th:classappend="${param.error}? has-error">
          <label for="venue">Venue:</label>
          <input class="form-control" type="text" name="venue" id="venue" autofocus="autofocus" />
        </div>
        <div class="form-group col-md-12" th:classappend="${param.error}? has-error">
          <label for="description">Description:</label>
          <textarea class="form-control" type="text" name="description" id="description" autofocus="autofocus" maxlength="100" size="100" rows="5"></textarea>
        </div>
      </div>
      
      <button class="btn btn-primary" type="submit"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Submit</button>
      <a class="btn btn-warning" role="button" href="/"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
  </div>
</body>
</html>
